.column{
    width:30vw;
    margin:0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
* {
    color: white;
    font-family: 'Jacques Francois', serif;
    font-size: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #CC5500;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #CC5500;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


      #queue-container {
          width: 100%;
          margin: 20px auto;
          border: 1px solid #ccc;
          padding: 10px;
          border-radius: 5px;
      }

      #queue-list {
          list-style: none;
          padding: 0;
      }

      .queue-item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 0;
          border-bottom: 1px solid #ccc;
      }